<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Grafilab offers a CeDePIN GPU marketplace for AI startups, machine learning research, gaming companies, and rendering jobs. Join us to leverage powerful GPU resources and earn rewards." />
  <meta name="keywords"
    content="decentralized GPU marketplace, AI GPU rental, machine learning GPUs, GPU for gaming, rendering GPUs, Grafilab, Solana, DePIN" />
  <title>Grafilab - The First CeDePIN GPU Network</title>
  <meta property="og:description"
    content="Grafilab offers a CeDePIN GPU marketplace for AI startups, machine learning research, gaming companies, and rendering jobs. Join us to leverage powerful GPU resources and earn rewards." />
  <meta property="og:type" content="website" />
  <meta property="og:image"
    content="https://zetta-blockchain-service.s3.ap-southeast-1.amazonaws.com/grafilab/images/social_preview_io.png" />
  <meta property="og:image:width" content="800" />
  <meta property="og:image:height" content="420" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="Grafilab - The First CeDePIN GPU Network" />
  <meta property="twitter:description"
    content="Grafilab offers a CeDePIN GPU marketplace for AI startups, machine learning research, gaming companies, and rendering jobs. Join us to leverage powerful GPU resources and earn rewards." />
  <meta property="twitter:image"
    content="https://zetta-blockchain-service.s3.ap-southeast-1.amazonaws.com/grafilab/images/social_preview_io.png" />
  <link rel="icon" type="image/png" href="/favicon.ico">
  <script type="module" crossorigin src="../js/grailab/BW.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/css/grailab.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>